.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 34px;
}

.header > .sobre{
    margin-right: 10px;
    margin-left: auto;
}
.header > .menu {
    width: 25px;
}
